# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Config files
oanda.cfg

# Virtual environments
env/
venv/
.venv/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs or debug
*.log
